<launch>
  <arg name="enable_flight" default="false"/>
  <arg name="camera_name" default="/camera/color"/>
  <arg name="image_topic" default="image_raw"/>
  <arg name="board_scale" default="1.0"/>
  <arg name="max_reprojection_error_px" default="3.0"/>
  <arg name="vision_log_path" default=""/>
  <arg name="log_directory"
       default="/home/wxh/nb_code/autofly_ws/log/companion"/>

  <include file="$(find precision_landing)/launch/d455_vision_only.launch">
    <arg name="camera_name" value="$(arg camera_name)"/>
    <arg name="image_topic" value="$(arg image_topic)"/>
    <arg name="board_scale" value="$(arg board_scale)"/>
    <arg name="max_reprojection_error_px"
         value="$(arg max_reprojection_error_px)"/>
    <arg name="vision_log_path" value="$(arg vision_log_path)"/>
  </include>

  <include file="$(find precision_landing)/launch/precision_landing_control.launch"
           if="$(arg enable_flight)">
    <arg name="log_directory" value="$(arg log_directory)"/>
  </include>
</launch>
