<launch>
  <arg name="enable_flight" default="false"/>
  <arg name="camera_name" default="/camera/color"/>
  <arg name="image_topic" default="image_raw"/>
  <arg name="board_scale" default="1.0"/>
  <arg name="max_reprojection_error_px" default="3.0"/>
  <arg name="vision_log_path"
       default="/home/wxh/nb_code/autofly_ws/log/precision_landing_joint_pnp_error.csv"/>

  <include file="$(find precision_landing)/launch/d455_vision_only.launch">
    <arg name="camera_name" value="$(arg camera_name)"/>
    <arg name="image_topic" value="$(arg image_topic)"/>
    <arg name="board_scale" value="$(arg board_scale)"/>
    <arg name="max_reprojection_error_px"
         value="$(arg max_reprojection_error_px)"/>
    <arg name="vision_log_path" value="$(arg vision_log_path)"/>
  </include>

  <node pkg="precision_landing" type="precision_landing_node"
        name="precision_landing" output="screen">
    <rosparam command="load"
              file="$(find precision_landing)/config/precision_landing.yaml"/>
    <param name="enable_flight" value="$(arg enable_flight)"/>
  </node>
</launch>
